/* brand colors
- white: #FEFDFC
- royal black: #909A0A
- pink: #DFCDD4
- blue: #444E6B
- green: #9CA89C
 */
 *{
    font-family: Optima, sans-serif
    margin: 0;
}

body{
    margin: 0;
    background-color: #444e6b;

}
header{
    padding: 10px;

}
/* --------- navigation ------------ */
.navMenu{
	position: relative;
}
button{
	color: black;
	border: none;
	border-radius: 5px;
	padding: 15px 30px;
	font-size: 18px;
	cursor: pointer;
    float: right;
}
button:hover{
	background-color: #FEFDFC;
    opacity: 0.8;
}
nav h2{
    display: none;
    visibility: hidden;
}
.navItems{
	display: none;
	position:relative;
	overflow: auto;
	background-color: #DFCDD4;
	border-radius: 5px;
	box-shadow: 10px 10px 10px 10px, black;
}
.navMenu:hover .navItems{
	display: block;
}
.navItems a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 20px 40px;
}
.navItems a:hover{
	background-color: #9CA89C;
	color: black;
	border-radius: 5px;
}
#logoHome{
    float: left;
    padding: 10px 50px 0 10px;
}
#logoHome:hover{
    background-color: #DFCDD4;
    border-radius: 50%;
    padding: 10px;
}
section h1{
    visibility: hidden;
    display: none;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
h2{
    margin: 0;
}
article{
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
article a{
    border: 1px solid #DFCDD4;
}
article a:hover{
    border: 1px solid #444e6b;
}
.switch img{
    height: auto;
}
.switch {
    position: relative;
    display: inline-block;
}
.switch .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.switch:hover .img-top {
    display: inline;
}
figcaption{
    padding: 15px;
    text-align: center;
}
@media only screen and (max-width: 700px){
    article{
        width: 49.9999%;
        margin: 6px 0;
    }
}