/* brand colors
- white: #FEFDFC
- royal black: #909A0A
- pink: #DFCDD4
- blue: #444E6B
- green: #9CA89C
 */
 *{
    font-family: Optima, sans-serif
    margin: 0;
}

body{
    margin: 0;

}
header{
    background: url("heroBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

}
/* --------- navigation ------------ */
ul {
    margin: 2px;
    padding: 5px;
    list-style-type: none;
    align-items: start;


}
.mainMenu li{
    list-style: none;
    padding: 5px;
    text-align: center;
    float: left;


}
.mainMenu li{
    font-weight: bold;
    font-size: 30px;
}
.mainLogo{
    text-align: left;
    float: left;
    list-style: none;


}
.mainMenu{
    float: right;

}
nav h2{
    display: none;
    visibility: hidden;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #FEFDFC;
}
.mainLogo:hover{
    background-image: url("white\ -\ logo.png");
}
.author{
    padding-left: 40px;
    padding-top: 350px;
    padding-bottom: 50px;
    align-items: baseline;
    text-align: left;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
h2{
    margin: 0;
}
/* --------- about section ------------ */

#about{
    background-color: #444E6B;
    color: #FEFDFC;
    padding: 10px;
    padding-bottom: 200px;
}
hgroup{
    padding: 50px 50px 0px 50px;
    
}
#about p{
    text-align: center;
    padding: 50px 50px 0px 50px;

}

.profileImg{
    float: right;
    padding: 0px 50px 0px 50px;
}
/* --------- resume section ------------ */

#resume{
    padding: 0px 50px 50px 50px;

}
hgroup{
    text-align: center;
    padding-bottom: 30px;
}
hgroup h2{
    padding-bottom: 20px;
}
.resumeImg{
    text-align: center;
    display: block;
    margin: 0;
}
/* --------- contact ------------ */

#contact{
    background-image: url("contactBackground.png");
    background-size:contain;
    padding: 0px 50px 300px 50px;
    font-size: 15px;

}
.socialMedia{
    float: left;
    padding: 50px 0px 50px 0px;

}
.socialMedia li{
    float: left;
}
form{
    float: right;
    padding: 10px 0px 100px 0px;

}
/* --------- footer ------------ */

footer{
    background-color: #DFCDD4;
    padding: 10px 0px 45px 0px;
    list-style: none;
    
}

.footerLogo{
    text-align: center;
    padding: 10px 0px 20px 0px;
    
}
.footerMenu li{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    float: left;
    
}
.footerMenu{
    float: right;

}