/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET STYLES END HERE*/

header, nav, main, section, article, figure, figcaption, aside, address, footer {
	display: block;
}
body {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.5;
	background-color: #DEA8B5;
	color: #542C1B;
}
#wrapper {
	width: 1000px;
	background-color: #FDFDFD;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
header {
	background-color: #141A1A;
	height: 150px;
	background-image: url(bowl.jpg);
	background-position: right;
	background-repeat: no-repeat;
	
}
h1 {
	color:#FFF;
	padding-top: 50px;
	padding-left: 32px;
	font-size: 32px;
	font-weight: bold;
}
nav {
	float: left;
	width: 150px;
	margin-right: 20px;
	margin-top: 10px;

}
nav ul {
	width: 120px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
nav li {
	background-color: #E0E5DE;
	border: 3px solid #CCCCCC;
	margin-bottom: 15px;
	list-style-type: none;

}
nav a {
	display: block;
	padding: 16px;
	text-align: center;
	color: #141A1A;
	text-decoration: none;
	font-weight: bold;
}
nav a:hover {
	background-color: #F28095;
}
.active-page {
	background-color: #DEA8B5;
}
#floatleft {
	float: left;
	margin-right: 48px;
	margin-bottom: 10px;
}
main {
	margin-left: 170px;
	margin-right: 20px;
	margin-top: 25px;
}
main h2 {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 20px;
}
.bakery {
	font-style: italic;
}
.description {
	padding-bottom: 15px;
}
main ul {
	list-style-position: inside;
	list-style-type: disc;
}

.clear {
	clear: left;
	font-style: italic;
}
footer {
	background-color: #AFAEB4;
	text-align: center;
	padding: 10px;
	font-style: italic;
	margin-top: 20px;
}






